<!-- templates/_hero_slider.html -->
{% load static %}

<!-- slider section -->

<section class="slider_section ">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- carousel-inner -->
    <div class="carousel-inner " style="background-image: url('{% static 'images/banner2.jpg' %}'); background-repeat: no-repeat; background-size: cover; ">

      <!-- slider-section 1 -->
      <div class="carousel-item active" style="background: rgb(240, 240, 240); background: rgba(240, 240, 240, 0.4); color: #f1f1f1;  width: 100%;">

        <div class="container-fluid padding_dd">
          <div class="carousel-caption">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="text-bg">
                  <span>Welcome To A1 Waste Solution</span>
                  <h1 class="text-uppercase">Temporary Roll-Off Dumpster Rental</h1>
                  <p class="text-justify">
                    A1 Waste solution is a nationwide roll-off dumpster rental
                    provider, ready to serve on your doorstep anytime. Get a free quote
                    today from one of our professionals who live and work in the
                    communities around you.
                  <p>
                  <p class="text-justify mt-n5">
                    Call us at: 815-478-7274 now.
                  </p>

                  <a href="{% url 'contact' %}">Contact Us</a> <a href="tel:+8801931883880">Call Now</a>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images_box">
                  <figure><img src="{% static 'images/img2.png' %}"></figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider-section 1 ends -->

      <!-- slider-section 2 -->
      <div class="carousel-item" style="background: rgb(240, 240, 240); background: rgba(240, 240, 240, 0.4); color: #f1f1f1;  width: 100%;">

        <div class="container-fluid padding_dd">
          <div class="carousel-caption">

            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="text-bg">
                  <span>Welcome To A1 Waste Solution</span>
                  <h1 class="text-uppercase">Affordable dumpster rental Service</h1>
                  <p class="text-justify">
                    We offer open-top dumpsters in a variety of sizes
                    (measured in cubic yards) for weekly or monthly rentals.
                  <p>

                  <p class="text-justify mt-n5">
                    Get a free quote at: 815-478-7274.
                  </p>

                  <a href="{% url 'contact' %}">Contact Us</a> <a href="tel:+8801931883880">Call Now</a>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images_box">
                  <figure><img src="{% static 'images/img2.png' %}"></figure>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- slider-section 2 ends -->


      <!-- slider-section 3 -->
      <div class="carousel-item" style="background: rgb(240, 240, 240); background: rgba(240, 240, 240, 0.4); color: #f1f1f1;  width: 100%;">

        <div class="container-fluid padding_dd">
          <div class="carousel-caption ">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="text-bg">
                  <span>Welcome To A1 Waste Solution</span>
                  <h1 class="text-uppercase">Best Service you can depend on</h1>
                  <p class="text-justify">

                    At A1 Waste solutions, we know there are times you need a
                    heavy-duty trash can, for your home needs or for a job site.
                    So, we’re ready to help.
                  <p>

                  <p class="text-justify mt-n5">
                    Get a free quote at: 815-478-7274.
                  </p>

                  <a href="{% url 'contact' %}">Contact Us</a> <a href="tel:+8801931883880">Call Now</a>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="images_box">
                  <figure><img src="{% static 'images/img2.png' %}"></figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- slider-section 3 ends -->

    </div> <!-- carousel-inner ends -->

    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</section>

<!-- slider section ends-->
