<!-- templates/_search.html -->
{% load static %}
{% block content %}

<!-- search section -->

<section>
  <div class="container padding_dd">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="text-cen">

          <div class="titlepage">
            <h2>Where do you <strong class="llow"></strong>need the dumpster?</h2>
          </div>

          <p>
            Enter you city and check availability:
          </p>

          <form class="Vegetable" action="{% url 'search_result' %}" method="get">
            <input class="Vegetable_fom" placeholder="Find City" type="text" name="q">
            <button class="Search_btn">Search</button>
          </form>
          <a href="tel:+8801931883880">Call Now: +8801931883880</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- search section ends-->

{% endblock content %}
