<!-- templates/_search.html -->
{% load static %}
{% block content %}

<!-- search section -->

<section>
  <div class="container padding_dd">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="text-cen">

          <div class="titlepage">
            <h2>Find us in <strong class="llow"></strong>your City</h2>
          </div>

          <p>It is a long established fact that a reader will be distracted
            by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal
          </p>

          <form class="Vegetable" action="{% url 'search_result' %}" method="get">
            <input class="Vegetable_fom" placeholder="Find City" type="text" name="q">
            <button class="Search_btn">Search</button>
          </form>
          <a href="#">Call Now: +8801931883880</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- search section ends-->

{% endblock content %}
