<!-- templates/about.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
  <div class="container py-5">

    <!-- about  -->
    <div id="about" class="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="about-box">
              <h2>About us</h2>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                using 'Content here, content here', making it look like readable English. Many desktop publishing packages andIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many</p>
              <a href="Javascript:void(0)">Read more</a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_rl">
            <div class="about-box_img">
              <figure><img src="{% static 'images/about.png' %}" alt="#" /></figure>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- end abouts -->

    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2> What we do <strong class="llow"> </strong> </h2>
        </div>
      </div>
    </div>


    <div class="jumbotron" id="jumbo">

      <p class="h3">Commodo elit at imperdiet dui accumsan sit amet.</p>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id interdum velit laoreet id donec ultrices tincidunt arcu. Vitae semper quis lectus nulla at volutpat diam. Dictum
        fusce ut placerat orci. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque sit. Purus ut faucibus pulvinar elementum integer enim neque volutpat. Gravida arcu ac tortor dignissim. Odio ut sem nulla pharetra diam sit amet.
        Bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim. A diam sollicitudin tempor id. A lacus vestibulum sed arcu. Semper feugiat nibh sed pulvinar proin. Lacus suspendisse faucibus interdum posuere lorem. Est ullamcorper
        eget
        nulla facilisi. Quis auctor elit sed vulputate mi sit amet mauris. Ut etiam sit amet nisl purus in mollis nunc sed. Venenatis cras sed felis eget velit aliquet sagittis id. Cursus sit amet dictum sit amet justo donec. Facilisis sed odio morbi
        quis. Commodo elit at imperdiet dui accumsan sit amet.
      </p>

      <p class="h3">Commodo viverra maecenas accumsan lacus vel facilisis. </p>
      <p class="lead">
        Aliquet nibh praesent tristique magna sit amet purus gravida quis. Lectus quam id leo in vitae turpis massa. Sed egestas egestas fringilla phasellus faucibus scelerisque. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.
        Urna nunc id cursus metus aliquam eleifend mi in nulla. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Magna eget est lorem ipsum dolor sit amet consectetur adipiscing. Iaculis at erat pellentesque adipiscing.
        Risus
        commodo viverra maecenas accumsan lacus vel facilisis. Tristique nulla aliquet enim tortor at auctor urna nunc. Ipsum consequat nisl vel pretium lectus. Risus nullam eget felis eget nunc lobortis mattis. Eget mi proin sed libero.
      </p>

      <p class="h3">Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus!</p>
      <p class="lead">
        Mattis aliquam faucibus purus in massa tempor nec. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Metus vulputate eu scelerisque felis. At imperdiet dui accumsan sit amet. Quam id leo in vitae turpis massa sed elementum
        tempus. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Ultricies mi eget mauris pharetra et ultrices neque. Quisque id diam vel quam. Proin
        sagittis nisl rhoncus mattis rhoncus urna. Dignissim suspendisse in est ante in. Fermentum iaculis eu non diam phasellus vestibulum lorem. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim.
      </p>

      <p class="h3">Augue interdum velit euismod in pellentesque ?</p>
      <p class="lead">
        Nunc scelerisque viverra mauris in aliquam sem fringilla. Ultrices sagittis orci a scelerisque purus. Amet nisl purus in mollis nunc sed. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Faucibus turpis in eu mi
        bibendum neque. Augue interdum velit euismod in pellentesque. Viverra accumsan in nisl nisi scelerisque eu ultrices. Ut placerat orci nulla pellentesque dignissim enim. Placerat orci nulla pellentesque dignissim enim. Sit amet consectetur
        adipiscing elit duis tristique sollicitudin. Nulla facilisi nullam vehicula ipsum a arcu. Tellus integer feugiat scelerisque varius morbi enim nunc.
      </p>

      <p class="h3">Lectus vestibulum mattis ullamcorper velit.</p>
      <p class="lead">
        Felis eget velit aliquet sagittis id. Eu nisl nunc mi ipsum. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl. Eu volutpat odio facilisis mauris sit amet. Mi sit amet mauris commodo quis imperdiet massa. Tristique et egestas quis
        ipsum suspendisse ultrices gravida dictum. Lectus vestibulum mattis ullamcorper velit. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Nulla at volutpat diam ut. Etiam non quam lacus suspendisse faucibus interdum posuere
        lorem ipsum. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum.
      </p>

    </div>



  </div>

  {% include "_search.html" %}
  
</div>
{% endblock content %}
