<!-- templates/state_detail.html -->
{% extends 'base.html' %}
{% block content %}
<div>
  <div class="container py-5">

    <div class="container jumbotron" id="jumbo">
      <h1 class="display-2">Dumpster Rental in {{ city.city_name }}</h1>
      <p class="lead">Your complete satisfaction is our top priority.</p>
      <br><br>

      <div class="container">

        <div class="card border-0">
          <h1 class="card-header border-0">Need Dumpster in {{ city.city_name }}, {{ city.state_name }}, {{ city.zip }}  ?</h1>
          <div class="card-body">
            <p class="card-text">{{ city.city_detail }}</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
{% endblock content %}
