<!-- templates/contact.html -->
{% extends 'base.html' %}

{% block content %}

<div>


  <!-- contact -->
  <div id="contact" class="contact">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <br><br><br><br>
            <h2>Thank you for <strong class="llow">your inquiry</strong></h2> <br>
            <h4 class="">Your contact information and message was successfully submitted.</h4> <br><br>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- end contact -->

{% include "_search.html" %}

</div>
{% endblock content %}
