<!-- templates/faq_detail.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
  <div class="container py-5">

    <div class="container jumbotron" id="jumbo">

      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>  <strong class="llow">Frequently Asked Questions</strong> </h2>
          </div>
        </div>
      </div>

      
      {# <p class="lead">Your complete satisfaction is our top priority.</p> #}
      <br><br>

      <div class="container">

        <div class="card border-0">
          <h1 class="card-header border-0"> {{ faq.question }} </h1>
          <div class="card-body">
            <p class="card-text">{{ faq.answer|safe }}</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
{% endblock content %}
