<!-- templates/faqs.html -->
{% extends 'base.html' %}
{% block content %}
<div>
  <div class="container py-5">

    <div class="container jumbotron" id="jumbo">
      <h1 class="display-2">Frequently Asked Questions</h1>
      <p class="lead">Here are some answers of question we often asked by our valuable customers:</p>
      <br><br>

      {% for faq in object_list %}

      <div class="container">

        <div class="card border-0">

          <a class="states" href=" {% url 'faq_detail' faq.pk %}">
            <h2 class="card-header border-0">{{ faq.question }} </h2>
          </a>

          <div class="card-body">
            <p class="card-text">{{ faq.answer|safe }}</p>
          </div>
        </div>

        <br>
      </div>

      {% endfor %}
    </div>

  </div>
</div>
{% endblock content %}
