<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}

<!-- main div -->
<div>
  <div class="container py-5">

    <h1 class="display-2">Dumpster Rental Service</h1>
    <p class="h4">Temporary Roll-Off Dumpster Rental</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>

  <!-- services section -->
  <section>
    <div class="container">
      <div class="jumbotron" id="jumbo">
        <h1 class="display-3 text-center">Our Services</h1>
      </div>


      <div class="row mbr-justify-content-center">

        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-volume-up fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Stay <span>Successful</span></h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-calendar fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Create
                <span>An Effective Team</span>
              </h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-globe fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Launch
                <span>A Unique Project</span>
              </h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-trophy fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Achieve <span>Your Targets</span></h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>
  <!-- services ends -->

  <!-- states viewer -->
  <section>
    <div class="container jumbotron" id="jumbo">

      <div class="container ">
        <h1 class="">States we serve</h1>
        <br><br>
      </div>

      <!-- state list -->
      <div class="container">
        <div class="row">

          <div class="col-md-3 states">
            <ul class="nomark" style="list-style: none; margin: 0; padding: 0; ">
              {% for states in object_list  %}
              <li> <a href="{{ states.get_absolute_url }}"> {{ states.name }} </a> </li>
              {% endfor %}
            </ul>
          </div>


        </div>
      </div>
      <!-- state list ends -->

    </div>
  </section>
  <!-- states viewer ends -->

</div>
<!-- main div ends -->

{% endblock content %}
