<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- main div -->
<div>

  {% include "_search.html" %}

  <!-- about  -->
  <div id="about" class="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="about-box">
            <h2>About us</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
              using 'Content here, content here', making it look like readable English. Many desktop publishing packages andIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many</p>
            <a href="Javascript:void(0)">Read more</a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_rl">
          <div class="about-box_img">
            <figure><img src="{% static 'images/about.png' %}" alt="#" /></figure>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end abouts -->

  <!-- dumpster -->
  <div id="dumpster" class="vegetable">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2> Rent a <strong class="llow">dumpster</strong> </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
          <div class="vegetable_shop">
            <h3>TEMPORARY ROLL-OFF DUMPSTER RENTAL</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
              using 'Content here, content here', making it look like readable English. Many desktop publishing packages andIt is a long established fact that a reader will be distracted </p>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 ">
          <div class="vegetable_img">
            <figure><img src="{% static 'images/v1.jpg' %}" alt="#" /></figure>
            <span>01</span>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
          <div class="vegetable_img">
            <figure><img src="{% static 'images/v2.jpg' %}" alt="#" /></figure>
            <span>02</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end dumpster -->


  <!-- services section -->
  <section>
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="titlepage ">
            <h2>Our Services </h2>
          </div>
        </div>
      </div>

      <div class="row mbr-justify-content-center">

        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-volume-up fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Stay <span>Successful</span></h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-calendar fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Create
                <span>An Effective Team</span>
              </h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-globe fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Launch
                <span>A Unique Project</span>
              </h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-trophy fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Achieve <span>Your Targets</span></h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>
  <!-- services ends -->

  <!-- clients -->
  <div id="testimonial" class="clients">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>testimonial</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clients_red">
    <div class="container">
      <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#testimonial_slider" data-slide-to="0" class=""></li>
          <li data-target="#testimonial_slider" data-slide-to="1" class="active"></li>
          <li data-target="#testimonial_slider" data-slide-to="2" class=""></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="testomonial_section">

              <div class="full testimonial_cont">
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                    <div class="testomonial_img">
                      <figure><img src="{% static 'images/tes.jpg' %}" alt="#" /></figure>
                      <i><img src="{% static 'images/test_con.png' %}" alt="#" /></i>
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                    <div class="cross_inner">
                      <h3>Jomono<br><strong class="ornage_color">review</strong></h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and

                      </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item active">

            <div class="testomonial_section">
              <div class="full center">
              </div>
              <div class="full testimonial_cont ">
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                    <div class="testomonial_img">
                      <figure><img src="{% static 'images/tes.jpg' %}" alt="#" /></figure>
                      <i><img src="{% static 'images/test_con.png' %}" alt="#" /></i>
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                    <div class="cross_inner">
                      <h3>Jomono 2<br><strong class="ornage_color">review</strong></h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and

                      </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="carousel-item">

            <div id="testomonial" class="testomonial_section">
              <div class="full center">
              </div>
              <div class="full testimonial_cont ">
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 pa_right">
                    <div class="testomonial_img">
                      <figure><img src="{% static 'images/tes2.jpg' %}" alt="#" /></figure>
                      <i><img src="{% static 'images/test_con.png' %}" alt="#" /></i>
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 pa_left">
                    <div class="cross_inner">
                      <h3>Jomono 3<br><strong class="ornage_color">review</strong></h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and

                      </p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- end clients -->

  <!-- states section -->
  <section>
    <div class="container jumbotron" id="jumbo">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage ">
              <h2>States We Serve </h2>
            </div>
          </div>
        </div>
      </div>

      <!-- state list -->
      <div class="container">
        <div class="row">
          {% for states in object_list  %}

          <!--
          {# This makes the list split into multiple columns.
          Note: it maybe a problem if items equals to divisibleby:'10'.
          Fix: brinf third if in second place and place the old
          second if as an elif of new second if.
          #}
          -->

          {% if forloop.first %}
          <!-- {# frst column starts on first item #} -->
          <div style="float:left;" class="col-md-3">
            {% endif %}
            <li>
              <a href="{{ states.get_absolute_url }}">
                <h4>{{ states.name }}</h4>
              </a>
            </li>
            {% if forloop.counter|divisibleby:13 %}
            <!-- {# first column ends and nexts starts #} -->
          </div>
          <div style="float:left;" class="col-md-3">
            {% endif %}
            {% if forloop.last %}
          </div>
          <!-- {# next columns ends #} -->
          {% endif %}

          {% endfor %}
          <div style="clear:both;"></div>

        </div>
      </div>
      <!-- state list ends -->

    </div>
  </section>
  <!-- states section ends -->

</div>
<!-- main div ends -->

{% endblock content %}
