<!-- templates/services.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>

{% include "_service.html" %}

{% include "_dumpster.html" %}



  <!-- states section -->
  <section>
    <div >

      <div class="row">
        <div class="col-md-12">
          <div class="titlepage ">
            <h2>Read our stories on states</h2> <br>
            <p class="lead">We serve acrros all states all of the major cities. Please go through the list below.</p>
          </div>
        </div>
      </div>

      <!-- state list -->
      <div class="container">
        <div class="row">

          {% for states in object_list  %}

          {% if forloop.first %}
          <div style="float:left;" class="col-md-4">
            {% endif %}
            <div class=" ">
              <div class="card border-0 ">
                <a class="states" href="{{ states.get_absolute_url }}">
                  <h2 class="card-header border-0 states ">{{ states.name }}</h2>
                </a>
                <div class="card-body">
                  <p class="card-text">{{ states.article|truncatewords:18 }}</p>
                </div>
              </div> <br>

            </div>
            {% if forloop.counter|divisibleby:17 %}
          </div>
          <div style="float:left;" class="col-md-4">
            {% endif %}
            {% if forloop.last %}
          </div>
          {% endif %}

          {% endfor %}
          <div style="clear:both;"></div>

        </div>
      </div>
      <!-- state list ends -->

    </div>

  </section>


  <!-- states section ends -->


  {% include "_search.html" %}


</div>
{% endblock content %}
