<!-- templates/services.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>

  <!-- services -->
  <div id="dumpster" class="vegetable">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2> Our <strong class="llow">Services</strong> </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
          <div class="vegetable_shop">
            <h3>TEMPORARY ROLL-OFF DUMPSTER RENTAL</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
              using 'Content here, content here', making it look like readable English. Many desktop publishing packages andIt is a long established fact that a reader will be distracted </p>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 ">
          <div class="vegetable_img">
            <figure><img src="{% static 'images/v1.jpg' %}" alt="#" /></figure>
            <span>01</span>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 ">
          <div class="vegetable_img margin_top">
            <figure><img src="{% static 'images/v2.jpg' %}" alt="#" /></figure>
            <span>02</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end services -->

  <!--  dumpster section -->
  <section>
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="titlepage ">
            <h2> Rent a <strong class="llow">dumpster</strong> </h2>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- card-1 -->
        <div class="mr-auto ">
          <div class="card mb-5" style="max-width: 840px;">
            <div class="row no-gutters">
              <div class="col-md-5">
                <img src="{% static 'images/v1.jpg' %}" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-1 ends -->
        <!-- card-2  -->
        <div class="ml-auto  ">
          <div class="card mb-5" style="max-width: 840px;">
            <div class="row no-gutters">
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-5">
                <img src="{% static 'images/v2.jpg' %}" alt="...">
              </div>
            </div>
          </div>
        </div>
        <!-- card-2 ends -->
        <!-- card-3 -->
        <div class="mr-auto ">
          <div class="card mb-5" style="max-width: 840px;">
            <div class="row no-gutters">
              <div class="col-md-5">
                <img src="{% static 'images/v1.jpg' %}" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card-3 ends -->
        <!-- card-4  -->
        <div class="ml-auto  ">
          <div class="card mb-5" style="max-width: 840px;">
            <div class="row no-gutters">
              <div class="col-md-7">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-5">
                <img src="{% static 'images/v2.jpg' %}" alt="...">
              </div>
            </div>
          </div>
        </div>
        <!-- card-4 ends -->

      </div>

  </section>

  <!--  dumpster section ends-->


  <!-- states section -->
  <section>
    <div class="container " id=" ">

      <div class="row">
        <div class="col-md-12">
          <div class="titlepage ">
            <h2>Read our stories on states</h2> <br>
            <p class="lead">We serve acrros all states all of the major cities. Please go through the list below.</p>
          </div>
        </div>
      </div>

      <!-- state list -->
      <div class="container">
        <div class="row">

          {% for states in object_list  %}

          {% if forloop.first %}
          <div style="float:left;" class="col-md-4">
            {% endif %}
            <div class=" ">
              <div class="card border-0 ">
                <a class="states" href="{{ states.get_absolute_url }}">
                  <h2 class="card-header border-0 states ">{{ states.name }}</h2>
                </a>
                <div class="card-body">
                  <p class="card-text">{{ states.article|truncatewords:18 }}</p>
                </div>
              </div> <br>

            </div>
            {% if forloop.counter|divisibleby:17 %}
          </div>
          <div style="float:left;" class="col-md-4">
            {% endif %}
            {% if forloop.last %}
          </div>
          {% endif %}

          {% endfor %}
          <div style="clear:both;"></div>

        </div>
      </div>
      <!-- state list ends -->

    </div>

  </section>


  <!-- states section ends -->


  {% include "_search.html" %}


</div>
{% endblock content %}
