<!-- templates/services.html -->
{% extends 'base.html' %}
{% block content %}

<div>
  <div class="container py-5">

    <h1 class="display-2">Our Services</h1>
    <p class="lead">
      Freedom Auto Transport requires absolutely No Payment until
      your vehicle is ASSIGNED to a Carrier!
    </p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>
  <!-- services section -->

  <section>
    <div class="container">


      <div class="row mbr-justify-content-center">

        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-volume-up fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Stay <span>Successful</span></h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-calendar fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Create
                <span>An Effective Team</span>
              </h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-globe fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Launch
                <span>A Unique Project</span>
              </h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <span class="mbr-iconfont fa-trophy fa"></span>
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Achieve <span>Your Targets</span></h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <!-- services section ends -->

  <!-- states section -->
  <section>
    <div class="container jumbotron" id="jumbo">
      <div class="container text-center">
        <h1 class="display-4 "> See all states we serve</h1>
        <p class="lead">We serve acrros all states all of the major cities. Please go through the list below.</p>
        <br><br>
      </div>

      {% for states in object_list %}
      <div class="container ">
        <div class="card border-0 ">
          <a class="states" href="{{ states.get_absolute_url }}">
            <h2 class="card-header border-0 states ">{{ states.name }}</h2>
          </a>
          <div class="card-body">
            <p class="card-text">{{ states.article|truncatewords:18 }}</p>
          </div>
        </div>


        <br>
      </div>

      {% endfor %}
    </div>

  </section>


  <!-- states section ends -->





</div>
{% endblock content %}
