<!-- templates/state_detail.html -->
{% extends 'base.html' %}
{% block content %}
<div>
  <div class="container py-5">

    <div class="container jumbotron" id="jumbo">
      <h1 class="display-2">Dumpster Rental in {{ object.name }}</h1>
      <p class="lead">Your complete satisfaction is our top priority.</p>
      <br><br>

      <div class="container">

        <div class="card border-0">
          <h1 class="card-header border-0">Need Dumpster in {{ object.name }} ?</h1>
          <div class="card-body">
            <p class="card-text">{{ object.article|safe }}</p>
          </div>
        </div>



        <!-- city viewer -->
        <section>
          <div class="container row" id="">

            <div class="container ">
              <h2 class="">Cities we serve</h2>
              <br><br>
            </div>

            <!-- city list -->
            <div class="container">
              <div class="row">

                <div class="col-md-3 states">
                  <ul class="nomark" style="list-style: none; margin: 0; padding: 0; ">
                    {% for city in object.cities.all  %}
                    {# {% if object.name == city.state_name %} #}

                    <li> <a href="{{ city.get_absolute_url }}"> {{ city.city_name }}, {{ city.state_name }} </a> </li>
                    {# {% endif %} #}

                    {% endfor %}
                  </ul>
                </div>


              </div>
            </div>
            <!-- city list ends -->

          </div>
        </section>
        <!-- city viewer ends -->

      </div>

    </div>

  </div>
</div>
{% endblock content %}
