<!-- templates/state_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}



  <!-- states section -->
  <section>
    <div class="container " >

      <div class="row">
        <div class="col-md-12">
          <div class="titlepage ">
            <h2>See all states we serve </h2> <br>
            <p class="lead">We serve acrros all states all of the major cities. Please go through the list below.</p>
          </div>
        </div>
      </div>

      <div class="row">

      </div>



        <div class="card border-0 ">
          <div class="card-body">
            {% for states in object_list %}
            <a class="states" href="{{ states.get_absolute_url }}">
              <h4>{{ states.name }}</h4>
            </a>
            {% endfor %}
          </div>
        </div>

        <br>


    </div>
  </section>

  <!-- states section ends -->

{% endblock content %}
