<!-- templates/state_detail.html -->
{% extends 'base.html' %}
{% block content %}
<section>
  <div class="container py-5">

    <div class="container jumbotron" id="jumbo">

      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2> Dumpster Rental in <strong class="llow">{{ object.name }}</strong> </h2>
            <br>
            <p class="lead">Your complete satisfaction is our top priority.</p>
            <br><br>
          </div>
        </div>
      </div>



      <div class="container">

        <div class="card border-0 ">
          <h1 class="card-header border-0">Need Dumpster in {{ object.name }} ?</h1>
          <div class="card-body">
            <p class="card-text">{{ object.article|safe }}</p> <br> <br>
          </div>
        </div>

        <!-- city viewer -->
        <div class="card border-0 ">

          <div class="container row card-body">
            <div class="container ">
              <h2 class="card-header border-0">Cities we serve</h2> <br>
            </div>
            <!-- city list -->
            <div class="container ">
              <div class="row card-body">
                {% for city in object.cities.all  %}

                <!--
                {# This makes the list split into multiple columns.
                Note: it maybe a problem if items equals to divisibleby:'10'.
                Fix: brinf third if in second place and place the old
                second if as an elif of new second if.
                #}
                -->

                {% if forloop.first %}
                <!-- {# frst column starts on first item #} -->
                <div style="float:left;" class="col-md-4">
                  {% endif %}

                  <li>
                    <a href="{{ city.get_absolute_url }}">
                      <h5>
                        {{ city.city_name }}, {{ city.state_name }}
                      </h5>
                    </a>
                  </li>

                  {% if forloop.counter|divisibleby:10 %}
                  <!-- {# first column ends and nexts starts #} -->
                </div>
                <div style="float:left;" class="col-md-4">
                  {% endif %}
                  {% if forloop.last %}
                </div>
                <!-- {# next columns ends #} -->
                {% endif %}

                {% endfor %}

              </div>
            </div>
            <!-- city list ends -->

          </div>
        </div>
        <!-- city viewer ends -->

      </div>

    </div>

  </div>
</section>
{% endblock content %}
